<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.roberto.news-growth</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/roberto/Automation/ig_daily_news_publisher/bin/run_news_growth.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/roberto/Automation/ig_daily_news_publisher</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>21</integer>
    <key>Minute</key>
    <integer>15</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/roberto/Automation/ig_daily_news_publisher/logs/news-growth-launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/roberto/Automation/ig_daily_news_publisher/logs/news-growth-launchd.err.log</string>
</dict>
</plist>
